server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/products/**
        - id: order-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/orders/**
        - id: cart-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/cart/**
        - id: customer-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/customers/**
        - id: category-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/categories/**
        - id: contact-service
          uri: http://localhost:8087
          predicates:
            - Path=/api/contact/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
